---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome">
    <h1>Welcome to TypeScript Bun Starter</h1>
    <p>Get started by editing <code>src/pages/index.astro</code></p>
</BaseLayout>
